<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gearmaniacs.tournament">

    <application>
        <activity
            android:name=".ui.activity.TournamentActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:theme="@style/AppTheme.Compose"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
