<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Needed by the open mail action in the AboutActivity -->
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name=".ScoutingApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:theme="@style/AppTheme.Compose"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.IntroActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/AppTheme.Compose" />

        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:label="@string/title_about"
            android:theme="@style/AppTheme.Compose"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:launchMode="standard"
            tools:replace="android:launchMode" />

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="${disableFirebase}" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashlytics}" />

    </application>

</manifest>
